@page "/hotel"

@inject HttpClient Http
@inject NavigationManager Navigation
@inject ItemService ItemService
@inject IJSRuntime JS

@using Dofus_HDV.Data

<link rel="stylesheet" type="text/css" href="/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/hdv.css">

<PageTitle>Home</PageTitle>

<div>
    <p>@HelloWorld</p>
</div>

<div class="container">
    <table id="myDataTable" class="display dataTable dataTables">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Niveau</th>
                <th>Quantité</th>
                <th>Prix moyen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.Description</td>
                    <td>@item.CategoryID</td>
                    <td>@item.Level</td>
                    <td>
                        <select name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="10">10</option>
                            <option value="100">100</option>
                        </select>
                    </td>
                    <td>@item.Price</td>
                    <td><button class="buy-button" @onclick="() => BuyItem()">Acheter</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            "info": true,
            "language": {
                "lengthMenu": "Afficher _MENU_ Lignes",
                "zeroRecords": "Aucune infos trouvées",
                "info": "Affiche la page _PAGE_ sur _PAGES_",
                "searchPlaceholder": "Rechercher",
                "paginate": {
                    "first": "Première",
                    "last": "Dernière",
                    "next": "Suivant",
                    "previous": "Précédent"
                },
            }
        });
    });
</script>

@code {
    private List<Item> items = new List<Item>();
    private string HelloWorld;

    protected override async Task OnInitializedAsync()
    {
        items = await ItemService.GetItemsAsync();
    }

    private void BuyItem()
    {
        HelloWorld = "Hello World";
    }
}
